<footer x-data class="text-center mt-10 px-24">
    <div>
        <ul class="flex flex-col md:flex-row my-6 justify-between">
            <li>
                <a class="text-sm font-medium text-gray-300" href="#">Acceptable Use policy</a>
            </li>
            <li>
                <a class="text-sm font-medium text-gray-300" href="#">Cookie policy</a>
            </li>
            <li>
                <a class="text-sm font-medium text-gray-300" href="#">Disclaimer</a>
            </li>
            <li>
                <a class="text-sm font-medium text-gray-300" href="#">Privacy policy</a>
            </li>
            <li>
                <a class="text-sm font-medium text-gray-300" href="#">DMCA Use policy</a>
            </li>
            <li>
                <a class="text-sm font-medium text-gray-300" href="#">Terms And Condition</a>
            </li>
            <li>
                <a class="text-sm font-medium text-gray-300" href="contact.html">Contact us</a>
            </li>
        </ul>
    </div>
    <p>Copyright &copy; 
        <span x-text="new Date().getFullYear()"></span>
        <span >DIGITALAGE INC</span>
        <span> All Rights Reserved. </span>
        <span>DigitalAge is a Registered Trademark</span>
    </p>
    <p class="mt-4">A HOP-ON COMPANY</p>
</footer>