<div class="bg-gray-100 p-4">
    <ul class="justify-between items-center hidden lg:flex md:flex">
        <li class="text-4xl">
            <a href="index.html">
                <img class="w-44 h-9" src="../../assets/digitalage logo1.png" alt="Digitalage logo">
                <!-- <span>digital</span><span class="text-green-200 font-bold">age</span> -->
            </a>
        </li>
        <li class="text-xs font-serif">
            <a href="index.html">HOME</a>
        </li>
        <li class="text-xs font-mono">
            <a href="about.html">ABOUT</a>
        </li>
       
        <li class="text-xs font-sans">
            <a href="investors.html">INVESTORS</a>
        </li>
        <li class="text-xs Proxima Nova">
            <a href="creators.html">CREATORS</a>
        </li>
        <li class="text-xs">
            <a href="contact.html">CONTACT</a>
        </li>
    </ul>
</div>